{% extends 'VenuesBundle::base.html.twig' %}

{% block title %}Update Venue: {{ venue_name }}{% endblock %}

{% block body %}

    <h2 class="page-header">
        Update / <i>{{ venue_name }}</i>
        <a href="javascript:history.back()" class="btn btn-default btn-sm pull-right"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Back</a>
    </h2>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}